নিজের ডেজিকনেশন এবং ইন্ট্রোডাকশন

রিজিউমি ডাউনলোড করার সুবিধা (এখনও রিজিউমি তৈরি না হয়ে থাকলে, শুধুমাত্র ডাউনলোড হয় এমন ফিচার রাখতে হবে। সেক্ষেত্রে অন্য যেকোনো একটি টেক্সট ফাইল হলেই হবে) 

কি কি স্কিল আছে

এক্সপেরিয়েন্স কি কি আছে

কি কি প্রজেক্ট আছে

পড়ালেখা সংক্রান্ত তথ্য

কন্টাক্ট ইনফরমেশন

একটা ব্যানার থাকলে ভালো হয়

একটা ফুটার থাকতে পারলে ভালো হয়



** অবশ্যই রেস্পন্সিভ হতে হবে। যতটা সিম্পল থাকা যায় তত ভালো। 

** নিজের কিছু রিলেভেন্ট ছবি থাকতে পারলে ভালো হবে।

** নিজ থেকে কিছু ডিজাইন এবং ফিচার এড করা গেলে ভালো হবে। 



