@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: var(--bg-lite);
    min-height: 100vh;
    color: var(--text-secondary);

    font-family: "Inter", sans-serif;
}

#root {
    --text-primary: #454360;
    --text-secondary: #596172;
    --text-highlight: #ff4c60;

    --bg-white: #fff;
    --bg-lite: #f7fbff;

    --banner-btn: #ff4c60;
    --banner-primary: #fff;
    --banner-secondary: #f9f9fe;

    --btn-primary-bg: #4b4870;
    --btn-primary-text: #fff;

    --btn-secondary-bg: #ff4c60;
    --btn-secondary-text: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-primary {
    /* color: var(--text-primary); */
}

.text-secondary {
    color: var(--text-secondary);
}

.text-highlight {
    color: var(--text-highlight);
}

.bg-white {
    background-color: var(--bg-white);
}

.custom-width {
    max-width: 1280px;
    padding: 0.5rem 1rem;
    margin: auto;
}
.custom-width-nospace {
    padding: 0px;
}
